<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Посты по запросу "{{ s }}"</title>
</head>
<body>
<main>

    <a href="/" class="link">Назад</a>

    <h1>Посты по запросу "{{ s }}"</h1>

    {% for post in posts %}
    <div>
        <img src="{{ post.pic }}" width=100% alt="Здесь должна быть картинка">
        <p>{{ post.content }}</p>
    </div>
    <hr>

    {% endfor %}

    <a href="/post" class="button">Добавить пост</a>

</main>

</body>
</html>